body{
  font-family: 'AR One Sans', sans-serif;
font-family: 'Ibarra Real Nova', serif;
font-family: 'Inclusive Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Martian Mono', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;
}
*{
  padding: 0;
  margin: 0;
}
/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the thumb */
  border-radius: 5px; /* Set the radius of the thumb */
}

/* Style the scrollbar track when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Style the scrollbar track when it's in an active (being dragged) state */
::-webkit-scrollbar-thumb:active {
  background: #333;
}

/* Style the scrollbar track (the area the thumb moves in) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
